<div class="dashboard-container">
  <div class="sidebar">
    <div class="user-info">
      <img src="https://static.vecteezy.com/system/resources/previews/005/498/515/non_2x/smile-icon-sign-and-happy-logo-design-illustration-smile-free-vector.jpg" 
           alt="Usuario" class="user-icon">
    </div>
    <button (click)="logout()" class="btn btn-danger logout-btn">
      <i class="bi bi-box-arrow-right"></i> Cerrar sesión
    </button>
  </div>

  <div class="main-content">
    <h2 class="dashboard-title" style="text-align: center;">Dashboard de Usuarios</h2>

    <div class="filters-container">
      <input [(ngModel)]="filtroNombre" (input)="filtrarUsuarios()" class="form-control" placeholder="Filtrar por nombre">
      <input [(ngModel)]="filtroCorreo" (input)="filtrarUsuarios()" class="form-control" placeholder="Filtrar por correo">
    </div>
    
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-header">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuariosFiltrados">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.correo }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-container">
        <button (click)="cambiarPagina(-1)" [disabled]="page === 1" class="btn btn-secondary pag-btn">Anterior</button>
        <span class="page-info">Página {{ page }}</span>
        <button (click)="cambiarPagina(1)" [disabled]="listaUsuarios.length < pageSize" class="btn btn-secondary pag-btn">Siguiente</button>
    </div>

    <div class="registro-container">
      <h3 class="registro-title">Registrar Nuevo Usuario</h3>
      <form (submit)="registrarUsuario()" class="registro-form">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input [(ngModel)]="nuevoUsuario.nombre" name="nombre" class="form-control" required>
        </div>
    
        <div class="form-group">
          <label for="correo">Correo</label>
          <input [(ngModel)]="nuevoUsuario.correo" name="correo" class="form-control" required>
        </div>
    
        <div class="form-group">
          <label for="contrasena">Contraseña</label>
          <input [(ngModel)]="nuevoUsuario.contrasena" name="contrasena" type="password" class="form-control" required>
        </div>
    
        <button type="submit" class="btn btn-success registro-btn">Registrar</button>
      </form>
    </div>
  </div>
</div>